name: JUnit Report Upload

on:
  #push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest

      - name: Run tests and generate junit xml
        run: |
          mkdir -p test-output
          pytest --junitxml=test-output/report.xml || true

      - name: Upload junit report
        uses: actions/upload-artifact@v4
        with:
          name: junit-report
          path: test-output/report.xml
